{% extends "AcmeUserBundle:Message:nav.html.twig" %}

{% block title 'Message' %}

{% block body %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="{{ asset('static/js/bootstrap-paginator.js') }}"></script>

<div class="page-header">
  <h1>Messages</h1>
</div>

<div class="row">
  <div class="col-md-4"><a href="{{ path('user_send') }}" class="btn btn-primary"><strong> COMPOSE </strong></a></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>

<div>
<!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#Inbox" data-toggle="tab"><span class="glyphicon glyphicon-import"></span> Inbox </a></li>
    <li><a href="#Outbox" data-toggle="tab"><span class="glyphicon glyphicon-export"></span> Outbox </a></li>
    <li><a href="#messages" data-toggle="tab">Messages</a></li>
    <li><a href="#settings" data-toggle="tab">Settings</a></li>
  </ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="Inbox">
  <div class="list-group">
  {% for message in inbox %}
    <a href="{{ path('user_read', {'id': message.id}) }}" class="list-group-item {{ message.hasRead ? null : 'active' }}">
      <h5 class="list-group-item-heading">{{ message.title }}</h5>
      <p class="list-group-item-text text-muted">{{ message.content }}</p>
    </a>
  {% endfor %}
    </div>  
  </div>
  <div class="tab-pane" id="Outbox">
  {% for message in outbox %}
    <a href="{{ path('user_read', {'id': message.id}) }}" class="list-group-item">
      <h5 class="list-group-item-heading">{{ message.title }}</h5>
      <p class="list-group-item-text text-muted">{{ message.content }}</p>
    </a>
  {% endfor %}
  </div>
  <div class="tab-pane" id="messages">// TODO</div>
  <div class="tab-pane" id="settings">// TODO</div>
</div>
<!--
<div id="inbox_pages"></div>
<div class="clearfix"></div>
<div id="outbox_pages"></div>
<div id="alert-content"></div>
<div id="alert-content2"></div>
-->

<!--
<div class="bs-callout bs-callout-info">
    <h4>Dealing with specificity</h4>
    <p>Sometimes emphasis classes cannot be applied due to the specificity of another selector. In most cases, a sufficient workaround is to wrap your text in a <code>&lt;span&gt;</code> with the class.</p>
</div>
-->
<script type='text/javascript'>
var options = {
    currentPage: 1,
    totalPages: 100,
    numberOfPages: 10,
    itemTexts: function (type, page, current) {
        switch (type) {
        case "first":
            return "&laquo;";
        case "prev":
            return "Prev";
        case "next":
            return "Next";
        case "last":
            return "&raquo;";
        case "page":
            return page;
        }
    },
    shouldShowPage:function(type, page, current){
        switch(type)
        {
            case "prev":
            case "next":
                return false;
            default:
                return true;
        }
    },
    onPageClicked: function(e,originalEvent,type,page){
        $('#alert-content').text("Page item clicked, type: "+type+" page: "+page);
    },
    onPageChanged: function(e,oldPage,newPage){
        $('#alert-content2').text("Current page changed, old: "+oldPage+" new: "+newPage);
    }     
}
$('#inbox_pages').bootstrapPaginator(options);

options.totalPages = 10;

$('#outbox_pages').bootstrapPaginator(options);
</script>

{% endblock %}
