{% block pagingwrapper %}
<div class="pull-right">
  <ul class="pagination">
    {% if pages.firstPageInRange > 1 %}
    <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'page': pages.first})) }}">&laquo;</a></li>
    {% endif %}
    {% for page in pages.pagesInRange %}
    <li class="{{ pages.current == page ? 'active' : null }}">
      <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'page': page})) }}">{{ page }}</a>
    </li>
    {% endfor %}
    {% if pages.lastPageInRange < pages.last %}
    <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'page': pages.last})) }}">&raquo;</a></li>
    {% endif %}
  </ul>
</div>
{% endblock %}
