{% extends "::base.html.twig" %}
{% use '::page.html.twig' %}
{% block title %}My comments{% endblock %}
{% block body %}
<div class="page-header">
  <h1>My comments <small>Subtext for header</small></h1>
</div>
<div class="table-condensed">
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width: 25%">Subject</th>
        <th style="width: 55%"></th>
        <th style="width: 15%"></th>
      </tr>
    </thead>
    <tbody>
      {% for comment in pagination %}
      <tr id="{{ comment.postIndex }}">
        <td>{{ comment.getThread.getTitle|truncate(40) }}</td>
        <td><a href="{{ path('thread_view', {'id': comment.getThread.id, 'page': comment.getPostIndexPage(pages.itemCountPerPage)}) }}#{{ comment.postIndex }}">{{ comment.content|truncate(60) }}</a></td>
        <td>{{ comment.createdAt|time_ago_in_words }}<div class="pull-right"><a href="#{{ comment.postIndex}}">#{{ comment.postIndex }}</a></div></td>                      
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% block pagingwrapper %}
  {{ parent() }}
{% endblock %}

{% endblock %}
