{% extends "::base.html.twig" %}

{% block title %}My comments{% endblock %}

{% block body %}
<div class="page-header">
  <h1>My comments <small>Subtext for header</small></h1>
</div>



<div class="table-condensed">
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width: 25%">Subject</th>
        <th style="width: 55%"></th>
        <th style="width: 15%"></th>
      </tr>
    </thead>
    <tbody>
      {% for comment in pagination %}
      <tr id="{{ comment.postIndex }}">
        <td>{{ comment.getThread.getTitle }}</td>
        <td><a href="{{ path('thread_view', {'id': comment.getThread.id, 'page': comment.getPostIndexPage(pages.itemCountPerPage)}) }}#{{ comment.postIndex }}">{{ comment.content|nl2br }}</a></td>
        <td>{{ comment.createdAt|time_ago_in_words }}<div class="pull-right"><a href="#{{ comment.postIndex}}">#{{ comment.postIndex }}</a></div></td>                      
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="pull-right">
  <ul class="pagination">
    <li class="{{ pages.current == pages.first ? 'disabled' : null }}">
      {% if pages.firstPageInRange is not defined %}
      <a href="{{ path(app.request.attributes.get('_route'), {'page': pages.first}) }}">&laquo;</a></li>
      {% endif %}
      {% for page in pages.pagesInRange %}
    <li class="{{ pages.current == page ? 'active' : null }}">
      <a href="{{ path(app.request.attributes.get('_route'), {'page': page}) }}">{{ page }}</a></li>
      {% endfor %}
    <li class="{{ pages.current == pages.last ? 'disabled' : null }}">
      {% if pages.lastPageInRange is not defined %}
      <a href="{{ path(app.request.attributes.get('_route'), {'page': pages.last}) }}">&raquo;</a>
      {% endif %}
    </li>
  </ul>
</div>

{% endblock %}
