{% extends "::base.html.twig" %}

{% use '::page.html.twig' %}

{% block history %}
<li><a href="{{ path('user_thread') }}">Last threads</a></li>
<li class="active"><a href="{{ path('user_comment') }}">Last comments</a></li>
{% endblock %}

{% block title %}My comments{% endblock %}

{% block body %}
<div class="page-header">
  <h1>My comments <small>Subtext for header</small></h1>
</div>
<div class="table-condensed">
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width: 25%">Subject</th>
        <th style="width: 55%">Comment</th>
        <th style="width: 15%">Post at</th>
      </tr>
    </thead>
    <tbody>
      {% for comment in pagination %}
      <tr id="{{ comment.postIndex }}">
        <td>{{ comment.getThread.getTitle|truncate(40) }}</td>
        <td><a href="{{ path('thread_view', {'id': comment.getThread.id, 'page': comment.getPostIndexPage(pages.itemCountPerPage)}) }}#{{ comment.postIndex }}">{{ comment.content|truncate(60) }}</a></td>
        <td>{{ comment.createdAt|human_time_diff }}<div class="pull-right"><a href="#{{ comment.postIndex}}">#{{ comment.postIndex }}</a></div></td>                      
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% block pagingwrapper %}
  {{ parent() }}
{% endblock %}

{% endblock %}
