{% extends "AcmeUserBundle::layout.html.twig" %}
{% use '::page.html.twig' %}
{% block title %}My threads{% endblock %}
{% block body %}
<div class="page-header">
  <h1>My threads <small>Subtext for header</small></h1>
</div>
<div class="table-condensed">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 5%">#</th>
        <th style="width: 55%">Subject</th>
        <th style="width: 5%">Replies</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for thread in pagination %}
      <tr>
        <td></td>
        <td>
        <a href="{{ path('thread_view', {'id': thread.id}) }}" data-toggle="tooltip" title="{{ thread.content }}">{{ thread.title }}</a><span class="label label-default">{{ thread.module.name }}</span></td>
        <td><span class="badge">{{ thread.numReplies|number_format }}</span></td>      
        <td>{{ thread.updatedAt|time_ago_in_words }}</td>                  
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% block pagingwrapper %}
  {{ parent() }}
{% endblock %}

{% endblock %}

