{% extends 'AcmeBoardBundle::layout.html.twig' %}

{% use '::recaptcha.html.twig' %}

{% block body %}
<div>
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{{ path('module_index') }}">Board</a></li>
    <li><a href="{{ path('thread_index', {'module_id': thread.module.id}) }}">{{ thread.module.name }}</a></li>  
    <li class="active">{{ thread.title[:50] ~ '...' }}</li>
  </ol>
</div>
<h2>Create comment</h2>
<div class="row">
  <div class="col-xs-8 col-sm-8">
    {{ form_start(form, {'attr': { 'novalidate': 'novalidate', 'class': '', 'role': 'form' }}) }}
    {{ form_errors(form) }}
    <div class="form-group {{ form_errors(form.content) ? 'has-error' : null }}">  
      {{ form_errors(form.content) }}
      <label for="content" class="control-label">Content</label>
      {{ form_widget(form.content, { 'attr': {'id': 'content', 'class': 'form-control', 'placeholder': 'Content', 'rows': 10 }}) }}
    </div>
    {% if form.recaptcha is defined %}    
    <div class="form-group {{ form_errors(form.recaptcha) ? 'has-error' : null }}">
      <div>{{ form_errors(form.recaptcha) }}</div>      
      <label for="recaptcha_response_field" class="control-label">Recaptcha</label>
      <div>
      {% block recaptcha %}
        {{ parent() }}
        {{ form_widget(form.recaptcha, {'attr': {'options' : {'theme' : 'custom'}} }) }}
      {% endblock %}
      </div>
    </div>
    {% endif %}
    <div class="form-group">
      <div class="">
        <button type="submit" class="btn btn-primary ">Create</button>
      </div>
    </div>
    {{ form_end(form) }}
  </div> 
</div>
{% endblock %}

