{% extends "::base.html.twig" %}

{% block title %}Module{% endblock %}

{% block body %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Board</li>
</ol>

<div class="page-header">
  <h1>Modules <small>Subtext for header</small></h1>
</div>

<div class="panel-group" id="accordion">
  {% for module in modules %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ module.id }}">
          {{ module.name }}
        </a>
      </h4>
    </div>
    <div id="collapse{{ module.id }}" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="row">
        {% for child in module.getChildren %}
          <div class="col-xs-3 col-sm-3"><a href="{{ path('thread_index', {'module_id': child.id}) }}">{{ child.name }} <span class="badge">{{ child.numThreads|number_format }}</span></a></div>
          <!-- Optional: clear the XS cols if their content doesn't match in height -->
          <div class="clearfix visible-xs"></div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% if is_granted('ROLE_ADMIN') %}
    <a href="#">Create</a>
{% endif %}

{% endblock %}
