{% extends "AcmeUserBundle::layout.html.twig" %}
{% block title %}Sign up{% endblock %}
{% block body %}
<h2>{{ 'sign.up'|trans }}</h2>
<div class="row">
  <div class="col-xs-10 col-sm-8">
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
      <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">{{ form_errors(form) }}</div>
      </div>
      <div class="form-group {{ form_errors(form.username) ? 'has-error' : null }}">  
        <div class="col-sm-3"></div>
        <div class="col-sm-9">{{ form_errors(form.username) }}</div>  
        <label for="username" class="col-sm-3 control-label">{{ 'username'|trans }}</label>
        <div class="col-sm-9">{{ form_widget(form.username, {'attr': {'id': 'username', 'class': 'form-control', 'placeholder': 'Username'}}) }}</div>
      </div>
      
      <div class="form-group {{ form_errors(form.password.first) ? 'has-error has-feedback' : null }}">  
        <div class="col-sm-3"></div>
        <div class="col-sm-9">{{ form_errors(form.password.first) }}</div>  
        <label for="password" class="col-sm-3 control-label">{{ 'password'|trans }}</label>
        <div class="col-sm-9">{{ form_widget(form.password.first, {'attr': {'id': 'password', 'class': 'form-control', 'placeholder': 'Password', 'type': 'password'}}) }}</div>
      </div>
      
      <div class="form-group {{ form_errors(form.password.second) ? 'has-error has-feedback' : null }}">  
        <div class="col-sm-3"></div>
        <div class="col-sm-9">{{ form_errors(form.password.second) }}</div>  
        <label for="repassword" class="col-sm-3 control-label">{{ 're.password'|trans }}</label>
        <div class="col-sm-9">{{ form_widget(form.password.second, {'attr': {'id': 'repassword', 'class': 'form-control', 'placeholder': 'RePassword', 'type': 'password'}}) }}</div>
      </div>
      
      <div class="form-group {{ form_errors(form.email) ? 'has-error' : null }}">  
        <div class="col-sm-3"></div>
        <div class="col-sm-9">{{ form_errors(form.email) }}</div>  
        <label for="email" class="col-sm-3 control-label">{{ 'email'|trans }}</label>
        <div class="col-sm-9">{{ form_widget(form.email, {'attr': {'id': 'email', 'class': 'form-control', 'placeholder': 'Email'}}) }}</div>
      </div>
      <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">{{ form_errors(form.recaptcha) }}</div>
      
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <div id="recaptcha_widget">
            <a title="Get another CAPTCHA" href="javascript:Recaptcha.reload()"><div id="recaptcha_image"></div></a>
            <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>
            <span class="recaptcha_only_if_image">Prove you’re not a robot</span>
            <span class="recaptcha_only_if_audio">Enter the numbers you hear:</span>
            <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" placeholder="Type the text" />
            <!-- <div><a href="javascript:Recaptcha.reload()">Get another CAPTCHA</a></div>
            <div class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')">Get an audio CAPTCHA</a></div>
            <div class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')">Get an image CAPTCHA</a></div>
            <div><a href="javascript:Recaptcha.showhelp()">Help</a></div> -->
           </div>
          {% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}
          {{ form_widget(form.recaptcha, {'attr': {'options' : {'theme' : 'custom',},} }) }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-primary">{{ 'sign.up'|trans }}</button>
        </div>
      </div>
    {{ form_end(form) }}
  </div>
</div>
<div class="col-xs-2 col-sm-4"></div>
{% endblock %}
