{% extends "AcmeUserBundle::layout.html.twig" %}
{% use '::recaptcha.html.twig' %}
{% block title %}Sign up{% endblock %}
{% block body %}
<h2>{{ 'sign.up'|trans }}</h2>
<div class="row">
  <div class="col-xs-10 col-sm-6">
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
      <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">{{ form_errors(form) }}</div>
      </div>
      <div class="form-group {{ form_errors(form.username) ? 'has-error' : null }}">  
        <div class="col-sm-3"></div>
        <div class="col-sm-9">{{ form_errors(form.username) }}</div>  
        <label for="username" class="col-sm-3 control-label">{{ 'username'|trans }}</label>
        <div class="col-sm-9">{{ form_widget(form.username, {'attr': {'id': 'username', 'class': 'form-control', 'placeholder': 'Username'}}) }}</div>
      </div>
      
      <div class="form-group {{ form_errors(form.plainPassword.first) ? 'has-error has-feedback' : null }}">  
        <div class="col-sm-3"></div>
        <div class="col-sm-9">{{ form_errors(form.plainPassword.first) }}</div>  
        <label for="password" class="col-sm-3 control-label">{{ 'password'|trans }}</label>
        <div class="col-sm-9">{{ form_widget(form.plainPassword.first, {'attr': {'id': 'password', 'class': 'form-control', 'placeholder': 'Password', 'type': 'password'}}) }}</div>
      </div>
      
      <div class="form-group {{ form_errors(form.plainPassword.second) ? 'has-error has-feedback' : null }}">  
        <div class="col-sm-3"></div>
        <div class="col-sm-9">{{ form_errors(form.plainPassword.second) }}</div>  
        <label for="repassword" class="col-sm-3 control-label">{{ 're.password'|trans }}</label>
        <div class="col-sm-9">{{ form_widget(form.plainPassword.second, {'attr': {'id': 'repassword', 'class': 'form-control', 'placeholder': 'RePassword', 'type': 'password'}}) }}</div>
      </div>
      
      <div class="form-group {{ form_errors(form.email) ? 'has-error' : null }}">  
        <div class="col-sm-3"></div>
        <div class="col-sm-9">{{ form_errors(form.email) }}</div>  
        <label for="email" class="col-sm-3 control-label">{{ 'email'|trans }}</label>
        <div class="col-sm-9">{{ form_widget(form.email, {'attr': {'id': 'email', 'class': 'form-control', 'placeholder': 'Email'}}) }}</div>
      </div>
      <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">{{ form_errors(form.recaptcha) }}</div>      
        <label for="email" class="col-sm-3 control-label">Recaptcha</label>
        <div class="col-sm-9">
        {% block recaptcha %}
          {{ parent() }}
          {{ form_widget(form.recaptcha, {'attr': {'options' : {'theme' : 'custom'}} }) }}
        {% endblock %}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-primary">{{ 'sign.up'|trans }}</button>
        </div>
      </div>
    {{ form_end(form) }}
  </div>
</div>
<div class="col-xs-2 col-sm-6"></div>
{% endblock %}
