{% extends "AcmeUserBundle::layout.html.twig" %}
{% block title %}Sign in{% endblock %}
{% block body %}
<h2>{% trans %}Sign in{% endtrans %}</h2>
<div class="row">
  <div class="col-xs-10 col-sm-5">
  {% if error %}
    <div class="alert alert-warning"><strong>Warning!</strong> {{ error.message }}</div>
  {% endif %}
  <!-- Split button -->
  <form role="form" action="{{ path('_signin_check') }}" method="post">
    <div class="form-group">
      <label for="email">{% trans %}Username or email{% endtrans %}</label>
      <input type="text" value="{{ last_username }}" class="form-control" id="email" name="_username" placeholder="Enter username or email">
    </div>
    <div class="form-group">
      <label for="password1">{% trans %}Password{% endtrans %}</label>
      <input type="password" class="form-control" id="password1" name="_password" placeholder="Password">
    </div>
    {#
    <div class="form-group">
      {{ form_errors(form.recaptcha) }}
        <div id="recaptcha_widget">
          <a title="Get another CAPTCHA" href="javascript:Recaptcha.reload()"><div id="recaptcha_image"></div></a>
          <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>
          <span class="recaptcha_only_if_image">Prove you’re not a robot</span>
          <span class="recaptcha_only_if_audio">Enter the numbers you hear:</span>
          <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" placeholder="Type the text" />
          <!-- <div><a href="javascript:Recaptcha.reload()">Get another CAPTCHA</a></div>
          <div class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')">Get an audio CAPTCHA</a></div>
          <div class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')">Get an image CAPTCHA</a></div>
          <div><a href="javascript:Recaptcha.showhelp()">Help</a></div> -->
         </div>
        {% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}
        {{ form_widget(form.recaptcha, {'attr': {'options' : {'theme' : 'custom',},} }) }}
    </div>
    #}
    <div class="form-group">
      <div class="row">
        <div class="col-xs-8 col-sm-8">
          <input type="checkbox" id="remember_me" name="_remember_me" checked />
          <label for="remember_me">{% trans %}Keep me logged in{% endtrans %}</label>
        </div>
        <div class="col-xs-4 col-sm-4">
          <button type="submit" class="btn btn-primary">{% trans %}Sign in{% endtrans %}</button>
        </div>
      </div>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
  </form>
<div class="text-left"><a href="{{ path('_signup') }}">{% trans %}Create a Account{% endtrans %}</a></div>
  </div>
  <div class="col-xs-2 col-sm-7"></div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs"></div>
</div>

<!--
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script type="text/javascript">
function showRecaptcha(element) {
 Recaptcha.create("6Lck-cwSAAAAAEsR9fjwcbnF-vnS201EIm7u3hHt", element, {
   theme: "red",
   callback: Recaptcha.focus_response_field});
}
</script>
<div id="recaptcha_div"></div>
<input type="button" value="Show reCAPTCHA" onclick="showRecaptcha('recaptcha_div');"></input>
-->
<!--
    If you want to control the URL the user
    is redirected to on success (more details below)
    <input type="hidden" name="_target_path" value="/account" />
-->
{% endblock %}
