{% extends "AcmeUserBundle::layout.html.twig" %}
{% use '::recaptcha.html.twig' %}
{% block title %}Sign in{% endblock %}
{% block body %}
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script>
Recaptcha.create("6Lck-cwSAAAAAEsR9fjwcbnF-vnS201EIm7u3hHt",
  "recaptcha_widget",
  {
    theme: "custom",
    callback: Recaptcha.focus_response_field
  }
);
</script>
<h2>{{ 'sign.in'|trans }}</h2>
<div class="row">
  <div class="col-xs-10 col-sm-5 col-md-4 col-lg-4">
  {% if error %}
    <div class="alert alert-warning"><strong>Warning!</strong> {{ error.message }}</div>
  {% endif %}
  <!-- Split button -->
    <form role="form" action="{{ path('_signin_check') }}" method="post">
      {% if is_granted('ROLE_USER') %}
      <!-- IS_AUTHENTICATED_ANONYMOUSLY -->
      <div class="form-group">
        <h4 class="text-center"><strong>{{ app.user.username }}</strong></h4>
        <div class="text-center">{{ app.user.email }}</div>
        <input type="hidden" name="_username" value="{{ app.user.username }}" />
      </div>
      {% else %}
      <div class="form-group">
        <label for="email">{{ 'username.email'|trans }}</label>
        <input type="text" value="{{ last_username }}" class="form-control" id="email" name="_username" placeholder="Enter username or email">
      </div>
      {% endif %}
      <div class="form-group">
        <label for="password1">{{ 'password'|trans }}</label>
        <input type="password" class="form-control" id="password1" name="_password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="recaptcha_response_field">Recaptcha</label>
        <div>
          {% block recaptcha %}
            {{ parent() }}
          {% endblock %}
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-8 col-sm-8">
            <input type="checkbox" id="remember_me" name="_remember_me" checked />
            <label for="remember_me">{{ 'keep.logged'|trans }}</label>
          </div>
          <div class="col-xs-4 col-sm-4">

          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">{{ 'sign.in'|trans }}</button>
      </div>
      
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>
    {% if is_granted('ROLE_USER') %}
    <div class="text-left"><a href="{{ path('_signout') }}">Sign in with a different account</a></div>
    {% else %}
    <div class="text-left"><a href="{{ path('_signup') }}">{{ 'create.account'|trans }}</a></div>    
    {% endif %}
  </div>
  <div class="col-xs-2 col-sm-7 col-md-8 col-lg-8"></div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs"></div>
</div>

<!--
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script type="text/javascript">
function showRecaptcha(element) {
 Recaptcha.create("6Lck-cwSAAAAAEsR9fjwcbnF-vnS201EIm7u3hHt", element, {
   theme: "red",
   callback: Recaptcha.focus_response_field});
}
</script>
<div id="recaptcha_div"></div>
<input type="button" value="Show reCAPTCHA" onclick="showRecaptcha('recaptcha_div');"></input>
-->
<!--
    If you want to control the URL the user
    is redirected to on success (more details below)
    <input type="hidden" name="_target_path" value="/account" />
-->
{% endblock %}
