{% extends 'AcmeBoardBundle::layout.html.twig' %}

{% use '::page.html.twig' %}

{% block body %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{{ path('module_index') }}">Board</a></li>
  <li class="dropdown"><a href="{{ path('module_index') }}#{{ module.id }}" data-target="#" data-toggle="dropdown">{{ module.parent.name }}</a>
    <ul class="dropdown-menu">
      {% for child in module.parent.children %}
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('thread_index', {'module_id': child.id}) }}">{{ child.name }}</a></li>       
      {% endfor %}
    </ul>
  </li>
  <li class="active">{{ module.name }}</li>  
</ol>
<div class="page-header">
  <h1>{{ module.name }} <small>Subtext for header</small></h1>
</div>
<div><a class="btn btn-primary" href="{{ path('thread_create', {'module_id': app.request.get('module_id')}) }}"><!-- <span class="glyphicon glyphicon-plus"></span> --><strong>CREATE THREAD</strong></a>
</div>
<div class="table-condensed">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="hidden">#</th>
        <th class="col-xs-6 col-sm-6">Subject</th>
        <th class="col-xs-2 col-sm-2">Author</th>
        <th class="col-xs-1 col-sm-1 hidden-xs">Replies</th>
        <th class="col-xs-1 col-sm-1 hidden-xs">Views</th>        
        <th class="col-xs-2 col-sm-2">Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for thread in pagination %}
      <tr>
        <td class="hidden"><span class="last_comment_id">{{ thread.lastComment.id }}</span><span class="thread_id">{{ thread.id }}</span></td>
        <td>
        {% if thread.status == 0 %}<span class="label label-default hidden-xs">Default</span>
        {% elseif thread.status == 1 %}<span class="label label-primary hidden-xs">Locked</span>
        <!--
        <span class="label label-success hidden-xs">Success</span>
        <span class="label label-info hidden-xs">Info</span>
        <span class="label label-warning hidden-xs">Warning</span>
        <span class="label label-danger hidden-xs">Danger</span>
        -->
        {% endif %}
        {% if thread.type == 1 %}<span class="label label-warning hidden-xs">STICKY</span>
        {% elseif thread.type == 2%}<span class="label label-danger hidden-xs">ANNOUNCE</span>
        {% endif %}
        <a href="{{ path('thread_view', {'id': thread.id}) }}" data-toggle="tooltip" title="{{ thread.content }}">{{ thread.title|truncate(40) }}</a></td>
        <td>{{ thread.author }} </td>      
        <td class="hidden-xs"><span class="">{{ thread.numReplies|number_format }}</span></td>    
        <td class="hidden-xs">{{ thread.numViews }}</td>  
        <td>{{ thread.updatedAt|human_time_diff }}</td>                  
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% block pagingwrapper %}
  {{ parent() }}
{% endblock %}

<script>
// TODO
if (!String.prototype.format) {
  String.prototype.format = function() {
    var args = arguments;
    return this.replace(/{(\d+)}/g, function(match, number) { 
      return typeof args[number] != 'undefined'
        ? args[number]
        : match
      ;
    });
  };
}
// "{0} is dead, but {1} is alive! {0} {2}".format("ASP", "ASP.NET")
</script>
{% endblock %}
