{% extends 'AcmeBoardBundle::layout.html.twig' %}
{% use '::page.html.twig' %}
{% block body %}
<link rel="stylesheet" href="{{ asset('css/default.min.css') }}">
<script src="{{ asset('js/highlight.min.js') }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<div>
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{{ path('module_index') }}">Board</a></li>
    <li><a href="{{ path('thread_index', {'module_id': thread.module.id}) }}">{{ thread.module.name }}</a></li>  
    <li class="active">{{ thread.title|truncate(40) }}</li>
  </ol>
</div>
<div class="page-header">
  <h1>{{ thread.title }} <small><a href="{{ path('thread_edit', {'id' : thread.id }) }}">
  {% if is_granted('EDIT', thread) %}EDIT{% endif %}</a></small></h1>
</div>
<div>
<a class="btn btn-primary {{ thread.status == 1 ? 'disabled' : null  }}" href="{{ path('comment_create', { 'id': thread.id }) }}" role="button"><!-- <span class="glyphicon glyphicon-plus"></span> --><strong>CREATE COMMENT</strong></a>
</div>
<!-- comment -->
<div class="table-condensed">
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width: 5%" ></th>
        <th style="width: 15%"></th>
        <th style="width: 70%"></th>
        <th style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>
      {% for comment in pagination %}
      <tr id="{{ comment.postIndex }}">
        <td><div class="pull-right"><button type="button" data="{{ comment.id }}" data-loading-text="Loading" class="btn btn-default btn-sm btn-vote {{ not app.user or comment._hasVoted ? 'disabled': null }}"><span class=""></span> <span class="votes">{{ comment.votes }}</span>
</button></div></td>
        <td>{{ comment.user.username }}</td>
        <td>{{ comment.content|nl2br }}</td>
        <td><div class="pull-right"><a href="#{{ comment.postIndex }}">#{{ comment.postIndex }}</a></div>{{ comment.createdAt|human_time_diff }}
        </td>                      
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% block pagingwrapper %}
  {{ parent() }}
{% endblock %}
<script>
// hljs.configure({tabReplace: '<span class="indent">\t</span>'});
// hljs.initHighlightingOnLoad();

var path = Routing.generate('rate_increase');

$('.btn-vote').click(function () {
  var btn = $(this);
  // btn.button("loading");
  $.ajax({
    type: "POST",
    url: path,
    dataType: "json",
    data: { comment_id: btn.attr('data') }
  }).done(function(data) {
    if (data.code == 100 && data.success) {
      btn.addClass('disabled');
      var span = btn.find("span.votes");
      span.text(data.votes);
      // btn.button('reset');
    }
    
  }).fail(function() {

  }).always(function () {
    // btn.button('reset')
  });
});
</script>

{% endblock %}




